*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter";
}

body{
    height: 100vh;
    background-color: #6C63FF;
    background: radial-gradient(at left top, #6C63FF, #010101);
    overflow-y: hidden;
}

header{
    background-color: #24252a;
    box-shadow: 0px 3px 10px #464646;
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    padding: 20px 20px;
}

.logo{
    display: flex;
    align-items: center;
}

.logo h2{
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 400;
}
.nav-list{
    display: flex;
    align-items: center;
}

.nav-list ul{
    display: flex;
    align-items: center;
    list-style: none; 
}

.nav-item{
    margin: 0 15px;
}

.nav-item a{
    color: #fff;
    font-size: 15px;
    font-weight: 400px;
    text-decoration: none;
    text-transform: uppercase;
}

.moblie-menu-icon{
    display: none;
}

.moblie-menu{
    display: none;
}


section{
    display: flex;
    align-items: center;
    width: 70%;
    height: 700px;
    margin: 0 auto;

}

.form{
    height: 90vh;
    width: 100%;
    display: flex;
    align-items: center;

}

.form form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 500px;
    background-color: #f2f2f2ff;
    border-radius: 0 10px 10px 0;
}

.img{
    width: 100%;
    
}

.img img{
    position: relative;
    top: 2px;
    height: auto;
    width: 100%;
    height: 500px;
    border-radius: 10px 0 0 10px;
}

textarea{
    width: 100%;
    height: 90%;
    resize: none;
    border: 0;
    color: black;
    /* box-shadow: 0px 5px 10px #464646; */
    background-color: #f2f2f2ff;
    padding: 10px;
    border-radius: 0 10px 0 0;
}

textarea::placeholder{
    color: black;
}

button , .btn{
    width: 100%;
    margin-top: 10px;
    padding: 15px;
    background-color: #24252a;
    border: 0;
    color: white;
    border-bottom: -10px;
    border-radius: 0 0 10px 0;
}

footer{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 90vh;
    width: 100%;
    padding: 40px;
    background-color: #24252a;
    color: #a8a8a8;
}

footer h4{
    text-transform: uppercase;
    font-weight: 400;
}

@media screen and (max-width: 1000px) {
    .img{
      display: none;
        
    }
    
    .img img{
        display: none;
    }
}

@media screen and ( max-width: 768px) {
    .nav-item{
        display: none;
    }

    .moblie-menu-icon{
        display: block;
    }

    .moblie-menu-icon button{
        background-color: transparent;
        border: none;
        color: #fff;
        font-size: 20px;
        cursor: pointer;
    }

    .moblie-menu ul{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }

    .moblie-menu a{
        color: #fff;
        font-size: 15px;
        font-weight: 400px;
        text-transform: uppercase;
        text-decoration: none;
        margin-bottom: 10px;
        border-bottom: 1px solid white;
    }

    .moblie-menu .nav-item{
        display: block;
        padding-top: 1.2rem; 
    }

    .open{
        display: block;
    }
 
}
